extends layout

block content
  h1= title
  p Welcome to #{title}

  #accordion(class="panel-group" role="tablist" aria-multiselectable="true")
    each val, i in traces
      div(class="panel panel-default")
        div(id="heading"+i class="panel-heading" role="tab")
          h4.panel-title
          a(class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse"+i aria-expanded="false" aria-controls="collapse"+i)= val.asset.name
          .pull-right
            = val.trace.status + " (" + val.trace.code + ")"
        div(id="collapse"+i class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading"+i)
          .panel-body
            =val.asset.name
            .pull-right
              =val.trace.message
