
body {
  width: 100%;
  height: 100%;
  background-image: url('../images/panel_bck.jpg');
}

.navbar-nav>li>.dropdown-menu {
  z-index: 999999;
}

#content-block {
  width: 100%;
  height: 100%;
}

.data-table-well {
  padding: 25px;
}

.table-search {
  padding: 25px;
}

#left {
  position: absolute;
  width: 98%;
  display: block;
  height: 93%;
  padding: 20px 15px 0 5px;
  border: 5px;
  border-radius: 5px;
  background-color: rgba(0,0,0,.4);
}

.grid-panels .panel {
  min-height: 600px;
}
#menu {
    position: absolute;
    display: block;
    right: -24.2%;
    width: 25%;
    min-width: 320px;
    height: 93%;
    background-color: #222;
    padding: 50px 12px 0 12px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 99999;
}

#menu .menuTitle {
  padding: 0 0 10px 4px;
  font-weight: 100;
  color: rgba(166,166,166,.5);
}

#menu .closeMenu {
  padding: 25px 15px 0 25px;
  font-size: 15px;
  opacity: .2;
}

#menu .closeMenu:hover {
  opacity: .3;
}

#menu .deliveries {
  padding: 4px !important;
  border-radius: 3px !important;
  background: none !important;
  border: none !important;
}

.deliveries {
  overflow: hidden;
}

.wrapper {
    background:#DDD;
    display:inline-block;
    padding: 10px;
    height: 20px;
    width:auto;
}

.label {
    display: inline-block;
    width: 1em;
}

.contents, .contents .inner {
    display:inline-block;
}

.contents {
    white-space:nowrap;
    margin-left: -1em;
    padding-left: 1em;
}

.contents .inner {
    background:#c3c;
    width:0%;
    overflow:hidden;
    -webkit-transition: right 1s ease-in-out;
    -moz-transition: right 1s ease-in-out;
    -o-transition: right 1s ease-in-out;
    transition: right 1s ease-in-out;
}
